@keyframes argh-my-eyes {
    0%   { background-color: #ff0e0e; }
    25% { background-color: #001eff; }
    50% { background-color: #ff0e0e; }
    75% { background-color: #001eff; }
    100% { background-color: #ff0e0e; }
}

body {
    animation: argh-my-eyes 1s infinite;
}

h1 {
    font-family: Helvetica, Arial;
    font-size: 200px;
    text-align: center;
    color: white;
    margin: 0;
    text-shadow:
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000;
}

.cop {
    display: block;
    margin: 40px auto 20px;
    width: 200px;
}

#map {
    display: block;
    margin: 100px auto 0px;
    height: 600px;
    width: 600px;
}

#info-window-text {
    font-weight: 500;
}

#cover {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000;
    z-index: 9999;
}